@use '../styles/variables.scss' as *;
.homeMainContainer{
    padding: 1rem 2rem;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    
    .topmainContainer{
        display: flex;
        flex-direction: column;
        
        .textContainer{
            text-align: center;

            h1{
                margin: 1rem  0;
                letter-spacing: 3px;
                font-size: 3rem;
                font-family: cursive;
            }
            p{
                margin: 1rem 0;
                font-size: 1.1rem;
                line-height: 1.6;
            }

            img{
                display: block;
                width: 60%;
                margin: 1rem auto;
            }

            .btn{
                padding: 0.6rem 0;
                width: 200px;
                border: none;
                border-radius: 20px;
                margin: 0.4rem 0;
                background-color: $modalColor;
                color: $fontColor;
                font-size: 1.1rem;
                outline: none;
            }
        }


        .homeBottomContainer{


            margin: 2rem 0;
            .modalMainContainer{
                background-color: $modalColor;
                border: 1px solid $modalColor;
                border-top-right-radius: 24px;
                border-top-left-radius: 24px;
            }

            .modalTopContainer{
                height: 40px;
                background-color: $backgroundColor;
                width: 100%;
                border-top-right-radius: 23px;
                border-top-left-radius: 23px;
                position: relative;
                .dot{
                    top: 10px;
                    left: 20px;
                    position: absolute;
                    width: 20px;
                    border-radius: 50%;
                    height:20px;
                    background-color: $modalColor;
                    &:nth-child(2){
                        left: 60px;
                    }
                    &:nth-child(3){
                        left: 100px;
                    }
                }
            }

            .modalBottomContainer{
                padding: 2rem 1rem;

                h1{
                    font-size: 1.6rem;
                }

                p{
                    font-size: 1.1rem;
                    margin: 1rem 0;
                    line-height: 1.6;
                }
                button{
                    padding: 0.6rem 0;
                        width: 200px;
                        border: none;
                        border-radius: 20px;
                        margin: 0.4rem 0;
                        background-color: $backgroundColor;
                        color: $fontColor;
                        font-size: 1.1rem;
                        outline: none;
                }
            }
        }
    }
}


@media screen and (min-width: 553px) {
    .homeMainContainer{
        padding-top: 2rem;

        .topmainContainer{
            display: grid;
            gap: 3rem;
            grid-template-columns: 1.5fr 2.5fr;

            .textContainer{

                h1{
                    font-size: 2rem;
                    margin-top: 3rem;
                }
            }
        }
    }
}


@media screen and (min-width: 1020px) {
    .homeMainContainer {
    
            .topmainContainer {
                display: grid;
                gap: 3rem;
                grid-template-columns: 1fr 1.5fr;
    
                .textContainer {

                    h1{
                        text-align: left;
                    }
                    p{
                        text-align: left;
                    }
                    img{
                        text-align: left;
                        width: 200px;
                        margin-right: auto;
                        margin-left: 0;
                    }
                    .btn{
                        display: block;
                        margin-right: auto;
                        margin-left: 0;
                    }
                }
            }
        }
}